.dish-card {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border: 1.5px solid #e0e0e0;
  font-family: 'Roboto';
  border-radius: 10px;
}
.dish-type-indicator {
  display: flex;
  align-items: center;
}

.dish-info {
  flex: 1;
  margin-right: 12px;
}

.dish-type-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1.5px solid;
  position: relative;
  margin-bottom: 6px;
  border-radius: 2px;
}

.dish-type-dot {
  width: 10px;
  height: 11px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.veg {
  border-color: green;
}
.veg .dish-type-dot {
  background-color: green;
}

.nonveg {
  border-color: red;
}
.nonveg .dish-type-dot {
  background-color: red;
}

.dish-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 4px;
  color: #222;
  margin-left: 10px;
}

.dish-price {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 6px;
  color: #444;
  margin-left: 25px;
}

.dish-description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish-description {
  font-size: 13px;
  color: #666;
  margin: 0 0 8px;
  line-height: 1.4;
  margin-left: 25px;
}

.dish-calories {
  font-size: 13px;
  color: orange;
  margin: 4px 0;
  margin-right: 140px;
  font-weight: 600;
}

.customization-text {
  font-size: 12px;
  color: blue;
  margin-bottom: 10px;
  font-weight: 500;
  margin-left: 25px;
}

.dish-quantity-controls {
  display: inline-flex;
  align-items: center;
  background-color: green;
  border-radius: 16px;
  padding: 5px;
  width: 90px;
  height: 35px;
  color: #ffffff;
  margin-left: 25px;
}

.qty-btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  width: 30px;
  font-weight: 600;
  outline: none;
}

.qty-count {
  min-width: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.dish-image-wrapper {
  width: 100px;
  height: 100px;
}

.dish-image {
  width: 110%;
  height: 110%;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 10px;
}
.not-available-text {
  font-size: 14px;
  color: red;
  font-weight: 600;
  margin-top: 8px;
  margin-left: 25px;
  font-family: 'Roboto';
}
.add-to-cart-btn {
  background-color: orange;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 12px;
  padding: 8px;
  width: 100px;
  border-radius: 8px;
  color: #ffffff;
  margin-left: 10px;
}
