.tabs-container {
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1.5px solid lightgray;
}

.tabs-scroll {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

.tab-button {
  border: none;
  background-color: transparent;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  color: #444;
}

.tab-button.active {
  border-bottom: 2px solid #f7931e;
  color: #f7931e;
  font-weight: 600;
}
