.nav-bg-container {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid lightgray;
  height: 65px;
}
.nav-heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
}
.my-Orders-heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #343030;
}
.my-Orders-container {
  display: flex;
  align-items: center;
}
.cart-icon-container {
  display: flex;
  align-items: initial;
}
.cart-icon {
  height: 27px;
  width: 27px;
  margin-left: 7px;
  margin-right: -10px;
  color: #343030;
}
.cart-item-count {
  background-color: orangered;
  height: 19px;
  width: 19px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-top: -10px;
}
.logout-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 12px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: orange;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
.link-items {
  text-decoration: none;
  color: #343030;
}
.cart-icon-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
